@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.input_text {
  border: none;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.3rem;
  border-bottom: 1px solid #494949;
}
.input_text:focus {
  outline: none;
}

.button {
  font-size: 1.2rem;
  background: #BB0102;
  color: #fff;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
}
.button:hover {
  cursor: pointer;
}

.form_status {
  text-align: center;
  margin: 20px 0px;
}

#nav {
  background: #fff;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.16);
}
#nav #toggleMenu {
  border: none;
  background: none;
}
#nav #toggleMenu:hover {
  cursor: pointer;
}
#nav #navList {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 200px 0px;
  text-transform: uppercase;
}
#nav #navList #closeMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}
#nav #navList #closeMenu:hover {
  cursor: pointer;
}
#nav #navList li a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3rem;
  color: #BB0102;
  font-weight: 500;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav #navList li a:hover {
  color: #494949;
}

.home_header {
  background-image: url("/img/header_bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 120px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home_header h1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-size: 42px;
  -webkit-text-stroke-color: #BB0102;
  -webkit-text-stroke-width: 2px;
  text-align: center;
}
.home_header ul li {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: #fff;
  font-size: 20px;
  -webkit-text-stroke-color: #BB0102;
  -webkit-text-stroke-width: 1px;
  font-weight: 600;
}

.home_services {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_services h2 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #BB0102;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}
.home_services ul {
  max-width: 700px;
}
.home_services ul li {
  margin: 20px 0px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 20px;
  text-align: justify;
}

.connexion_header {
  width: 100%;
  height: 600px;
  padding: 140px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
}
.connexion_header h1 {
  color: #BB0102;
  text-transform: uppercase;
}
.connexion_header form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion_header form .input_text {
  margin: 20px 0px;
}

.admin_pannel {
  width: 100%;
  height: auto;
  padding: 140px 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.admin_pannel h2 {
  color: #BB0102;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}
.admin_pannel .create_employee {
  display: flex;
  flex-direction: column;
}
.admin_pannel .create_employee form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin_pannel .create_employee form small {
  text-align: center;
}
.admin_pannel .create_employee form input {
  margin: 20px 0px;
}

.employee_pannel {
  width: 100%;
  height: auto;
  padding: 140px 20px;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
}
.employee_pannel h2 {
  color: #BB0102;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}
.employee_pannel .create_car {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.employee_pannel .create_car form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  padding: 0px 20px;
}
.employee_pannel .create_car form small {
  text-align: start;
}
.employee_pannel .create_car form .form_group {
  display: flex;
  margin: 10px 0px;
}
.employee_pannel .create_car form .form_group label {
  margin-right: 10px;
  color: #BB0102;
  text-transform: uppercase;
  font-weight: 600;
}
.employee_pannel .create_car form button {
  align-self: center;
}
.employee_pannel .create_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.employee_pannel .create_review form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
.employee_pannel .create_review form .form_group {
  margin: 20px 0px;
}
.employee_pannel .create_review form label {
  color: #494949;
  text-transform: uppercase;
  font-weight: 600;
}
.employee_pannel .create_review form textarea {
  padding: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  margin-bottom: 40px;
}
.employee_pannel .create_review form textarea:focus {
  outline: none;
}

@media screen and (min-width: 900px) {
  #toggleMenu, #closeMenu {
    display: none;
  }
  #navList {
    display: flex !important;
    position: unset !important;
    height: unset !important;
    width: unset !important;
    padding: unset !important;
    flex-direction: row !important;
  }
  #navList a {
    font-size: 1.2rem !important;
    margin: 0px 20px;
  }
}/*# sourceMappingURL=style.css.map */