// FONTS

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$font : 'IBM Plex Sans', sans-serif;
$font_condensed : 'IBM Plex Sans Condensed', sans-serif;

$font_size_title : 32px;
$font_size_paragraph : 24px;

// COLORS

$color_1 : #BB0102;
$color_2 : #494949;